
@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap');



.thankyou{
    font-family: 'Inter';
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0rem;
}

.bluebox{
    background: #CBE2FD;
    height: 11rem;
    /* display: flex; */
    /* justify-content: center; */
    text-align: center;
    font-family: Inter;
    font-size: 1.10rem;
    padding: 3rem;
}

.bluebox p{
    color: #081A7A;
}

.super{
    margin-top: 1rem;
}
.superheading{
    display: flex;
    justify-content: center;
    font-family: inter;
    color: #081A7A;
    font-size: 2rem;
}

.sponsorCards:hover{
    box-shadow: 5px 5px 10px rgba(0,0,0,.2);
}


@media(max-width:1000px){
    .thankyou{
        font-family: 'Inter';
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 0rem;
        font-size: 1.25rem;
    }
    
    .bluebox{
        background: #CBE2FD;
        height: 10rem;
        /* display: flex; */
        /* justify-content: center; */
        text-align: center;
        font-family: Inter;
        font-size: .83rem;
        padding: 1.25rem;
    }
    
    .bluebox p{
        color: #081A7A;
    }

    .sponsorCards:hover{
        box-shadow: 5px 5px 10px rgba(0,0,0,.2);
    }
}