@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap');

.ourTeam {
    display: flex;
    justify-content: center;
    font-family: 'Inter';
    font-size: 5rem;
    padding: 1rem 0rem;
}
.team{
    background: #081A7A;
    color: white;
}

.team img{
    border-radius: 50%;
}