@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans:wght@300&family=Inter:wght@300&family=Italianno&family=Oswald&family=Poppins:wght@600&family=Roboto&family=Source+Code+Pro:ital,wght@1,300&display=swap');


/* .cards {
    padding: 0 1rem 0 1.5rem;
} */

.row {
    --bs-gutter-x: 0rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    /* display: grid;
    grid-template-rows: 133px 133px 133px 133px;
    grid-template-columns: 133px 133px 133px 133px;
    grid-row-gap: 7rem;
    grid-column-gap: 18rem; */
}
.col{
    margin: 0 5rem 0 5rem;
}
.ourTeam {
    display: flex;
    justify-content: center;
    font-family: 'Inter';
    font-size: 5rem;
    padding: 1rem 0rem;
}

.team {
    background: #081A7A;
    color: white;
}

.team img {
    border-radius: 50%;
}

.linkedIn img{
    border-radius: 0%;
}

.team-cards{
    font-family: 'Fira Sans', sans-serif;
}

@media(max-width:1000px) {
    .team-cards{
        height: 15rem;
    }
}